## Directories
/.build/
/cache/
/chroot/
## `lb` will generate this folder, `config`
##   Which is why our config directory is called `kali-config`
/config/
## In case symlink, no slash
/images

## Files
.lock
.mirror
build.log
wget-log*
