source /boot/grub/config.cfg

# Live boot
LINUX_LIVE

menuentry "Live system (forensic mode)" {
	linux KERNEL_LIVE APPEND_LIVE noswap noautomount
	initrd INITRD_LIVE
}
menuentry "Live system (persistence, check kali.org/prst)" {
	linux KERNEL_LIVE APPEND_LIVE persistence
	initrd INITRD_LIVE
}
menuentry "Live system (encrypted persistence, check kali.org/prst)" {
	linux KERNEL_LIVE APPEND_LIVE persistent=cryptsetup persistence-encryption=luks persistence
	initrd INITRD_LIVE
}

# Installer (if any)
LINUX_INSTALL

menuentry "Start installer with speech synthesis" {
	linux KERNEL_GI speakup.synth=soft APPEND_GI 
	initrd INITRD_GI
}

submenu 'Advanced options...' {

# More installer entries (if any)
LINUX_ADVANCED_INSTALL

# Memtest (if any)
MEMTEST

}
